// mobile 
.head-sec1 {
    background-color: darkgrey;
    height: 100px;

}

.headdiv {
    background-color: beige;
    height: 100%;
    width: 100%;
}
.logo {
    background-color: brown;
    height: 100%;
    width: 50%;

}
.menu {
    background-color: chocolate;
    height: 100%;
    width: 50%;
}