.inx-fst {
    background-color: cornflowerblue;

}
.inx-fst__fst-div {
    background-color: mediumturquoise;
}
.inx-fst__snd-div {
    text-align: center;

}
.inx-fst__snd-div-list {

    display: flex;
}