.container {
    background-color:mediumspringgreen;
    max-inline-size: 450px;
    /* height: 100%; */
    margin: 0 15px;

}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}



$linebrake: #252525;
